
.container_search
{
    max-width: 100%;
    width: 250px;
    position: relative;
    
  
}

.container_search input
{
    width: 100%;
    outline: none;
    background: #231E39;
    border:  2px solid #B3B8CD;
    padding: 8px 40px;
    border-radius: 20px;
    color: #B3B8CD;
    font-size: 18px;
}

.container_search input::placeholder
{
    color: #B3B8CD;
    font-size: 18px;
    
}

.icon
{
    position: absolute;
    left: 15px;
    top: 15px;
}